.root {
  -fx-font-size: 10pt;
  -fx-font-family: "Segoe UI Semilight";
  -fx-background-color: #364652;

  /* -fx-base: rgb(132, 145, 47);
   -fx-background: rgb(225, 228, 203); */
}

#title {
  -fx-font: 20pt "Serif";
  -fx-font-family: "Segoe UI Light";
  -fx-background-color: #C9E4CA;
}

