.root {
  -fx-font-size: 10pt;
  -fx-font-family: "Segoe UI Semilight";
  /* -fx-base: rgb(132, 145, 47);
   -fx-background: rgb(225, 228, 203);*/
}

#title {
  -fx-font-size: 18pt;
  -fx-font-family: "Segoe UI Light";
}